/*-----Body Style-----*/
html{
	background-color: #283642;
	margin: 0;
	padding: 0;
}
body{
	max-width: 940px;
	border-radius: 20px;
	background-image: url(../images/dark_fish_skin3.png);
	margin: 0 auto;
	font-family: Georgia, "Times New Roman", Times, sans-serif;
	box-shadow: 10px 10px 10px #000;
	font-size: 62.5%;
}
#main-content{
	list-style: none;
	font-size: 2em;
	background-color: #781FC2;
}
h1{
	font-size: 4em;
	padding-top: 3.1914894%; /*-----30/940  3.1914894%; -----*/
	padding-left: 1.5957447%; /*----15/940 1.5957447%-----*/
	text-shadow: 5px 5px 5px #000;
	margin-left: 7.9787234%; /*-----75/940 7.9787234%-----*/
	letter-spacing: 3px;
	color: #DAA520;
}	
h2, h3{
	font-size: 1.5em;
}	
#navbar{
	width: 53.1914894%; /*--------500/940  53.1914894% --------*/
	float: right;
	list-style: none;
	margin-right: 1.0638%; /*----10/940  1.0638----*/
}
p{
	font-size: 1.5em;
}
#navbar li{
	width: 20%; /*-------100/500   20%-------*/
	border-radius: 10px;
	float: left;
	background-image: url(../images/dark_fish_skin4.png);
	margin-right: 2%; /*----10/500 2%-----*/
	box-shadow: 5px 5px 5px #000;
}
/*-----Navbar-----*/
#navbar a{
	color: #000;
	display: block;
	text-decoration: none;
	line-height: 50px;
	height: 50px;
	text-align: center;
	font-size: 16px;		
}
#navbar a:visited{
	color: #9CDC0A;
}
#navbar a:hover{
	color: #fff;
}
#navbar a:active{
	color: #710ec3;
}
/*-----columns-----*/
#leftcontent{
	float: left;
	width: 59.07173%;/*---560/940 59.07173%---------*/
	background-color: #DAA520;
	background-image: url(../images/dark_fish_skin4.png);
	border-radius: 20px; 
	border-color: #000;
	border-width:2px;
	box-shadow: 5px 5px 5px #000;
	margin-left: 1.063829%; /*------10/940 1.063829%----*/
	padding-left: 1.063829%; /*-----10/940 1.063829%----*/
	padding-right: 1.063829%; /*----10/940 1.063829%----*/	
}
#rightcontent{
	float: right;
	width: 31.9148936%; /*--------300/940 31.9148936%----------*/
	border-radius: 20px;
	box-shadow: 5px 5px 5px #000;
	background-color: #DAA520;
	background-image: url(../images/dark_fish_skin4.png);
	margin: 0 1.1% 0 1.1%; /*----10/300, 10/300  3.33333333%, 3.33333333%-----*/
	padding: 1.1%; /*-----10/300 3.33333333%-------*/
}
img{
	max-width: 100%;	
}
/*----gallery----*/
#gallery{
	float: left;
	width: 550px; /*-----550/940 58.5106383%------*/
	clear: right;
}
#gallery li{
	float: left;
	width: 33.09090909%; /*-------182/550 19.1983122%------*/
	display: block;
}
#names li{
 list-style-type: katakana-iroha;
 font-size: 1.5em;
}	
footer{
	width: 85.106383%;  /*----------800/940  85.106383% ----------*/
	clear: both;
	text-indent: 20px;
	font-size: 1em;
	color: #fff;
}
/*----------mobile styles----------*/
@media only screen and (max-width: 480px){
html{
	background-color: #0E0D0F;
}
body{
	background-color: #AB9E15;	
}
#navbar li a{
	background-color: #FF0000;
	font-size: 25.5%;
	border-radius: 10px;
}
#names{
	display: none;
} 
#gallery-1{
	display: none;
}
h1{
	font-size: 1.6em;
	text-shadow: 10px 10px 10px #000;
	color: #0E0D0F;
 }
}
/*----------tablet styles----------*/
@media only screen and (min-width: 481px) and (max-width: 768px){
html{
	background-color: #A7990E;
}
body{
	background-color: #D6AC81;	
}
#navbar li a{
	background-color: #736370;
	font-size: 45.5%;
	border-radius: 10px;
}
#names{
	display: none;
}
#gallery-1{
	display: none;
} 
h1{
	font-size: 2em;
	text-shadow: 5px 5px 5px #000;
	color: #A7990E;
	}
}
/*----------desktop styles----------*/
@media only screen and (min-width: 769px) and (max-width: 960px) {
html{
	background-color: #DAA520;
}
body{
	background-color: #D6AC81;	
}
#navbar li a{
	background-color: #DAA520;
	border-radius: 10px;
}
h1{
	font-size: 2em;
	color: #C08B00;
	}
}
/*----------monitor styles---------*/
@media only screen and (min-width: 961px){
html{
	background-color: #DAA520;
	}
}